# ðŸ”Ž Exploration and cleaning 
### Dataset: Flight Customers Activity (`Customer_Flight_Analysis.csv`) and Customer Profiles (`Customer_Loyalty_History.csv`)  

**Objective:** Analyze the data structure, identify missing values, and detect incomplete information in columns.

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
pd.set_option('display.max_columns', None) 

df_flight_activity = pd.read_csv('../data/raw/Customer_Flight_Activity.csv', index_col=0)

df_flight_activity.head(2)

,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
Loyalty Number,,,,,,,,,
100018,2017,1,3,0,3,1521,152.0,0,0
100102,2017,1,10,4,14,2030,203.0,0,0

In [4]:
df_flight_activity.shape

(405624, 9)

In [3]:
df_flight_activity.info()

<class 'pandas.core.frame.DataFrame'>
Index: 405624 entries, 100018 to 999986
Data columns (total 9 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Year                         405624 non-null  int64
 1   Month                        405624 non-null  int64
 2   Flights Booked               405624 non-null  int64
 3   Flights with Companions      405624 non-null  int64
 4   Total Flights                405624 non-null  int64
 5   Distance                     405624 non-null  int64
 6   Points Accumulated           405624 non-null  float64
 7   Points Redeemed              405624 non-null  int64
 8   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(8)
memory usage: 30.9 MB

In [10]:
df_flight_activity.duplicated()

Loyalty Number
100018    False
100102    False
100140    False
100214    False
100272     True
          ...
999902     True
999911     True
999940    False
999982     True
999986     True
Length: 405624, dtype: bool